<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
  	<RollingFile name="RollingFile" fileName="${log.file}"
            filePattern="${log.dir}/log-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{DEFAULT} %p %c(%L) %m%n%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2000"/>
        </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} %p %c(%L) %m%n%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="EventLogger" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
 
    <Root level="debug">
      <AppenderRef ref="RollingFile"/>
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
